---
layout: markdown_page
title: "Tactical Priorities - Compliance"
canonical_path: "/direction/govern/compliance/tactical-priorities.html"
---

Last edited: 2023-07-21

This page captures our priorities at a finer-grained level than the [what's next](/direction/govern/compliance/#where-were-headed) section does. It shows major topics and projects that we are working on and prioritizing. It is stack ranked, which means that items at the top of the list are higher priority than items lower on the list.

This list highlights major initiatives but is not comprehensive. For specific work being done in an inidividual milestone, please refer to the
appropriate [milestone planning issues](https://gitlab.com/groups/gitlab-org/govern/compliance/-/epics/2).


## Priorities

| Priority | Name | DRI | Target release |
| ------ | ------ | ------ | ------ | ------ |
<% data.product_priorities.compliance.priorities.each.with_index do |priority, index| %>
<% next if priority.status == "CLOSED" %>
| <%= index + 1 %> | [<%= priority.name %>](<%= priority.url %>) | `<%= priority.dri.presence || "TBD" %>` | `<%= priority.target_release.presence || "TBD" %>`  |
<% end %>

*This page may contain information related to upcoming products, features and functionality.

It is important to note that the information presented is for informational purposes only, so please do not rely on the information for purchasing or planning purposes.

Just like with all projects, the items mentioned on the page are subject to change or delay, and the development, release, and timing of any products, features, or functionality remain at the sole discretion of GitLab Inc.*

